.prod main {
    display: block;
}

.product {
    margin: 0 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

main .profile {
    width: 100%;
    padding: 1rem 2rem;
}

.product-title h1 {
    width: 30%;
    font-size: 3rem;
    margin: 1rem 0;
    border-bottom: .2rem solid red;
}

.product-category {
    width: 95%;
    height: 100%;
}

.tab-group {
    display: flex;
    justify-content: center;
}

.tab {
    list-style: none;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    height: 1.3rem;
    width: 6rem;
}

.tab p {
    font-size: 1rem;
    justify-content: center;
    text-align: center;
}

.content-group {
    height:100%;
    border-top:none;
    background:#fff;
}

.content {
    display:none;
    margin: 1rem;
}

.tab.is-active{
    background:#F00;
    color:#FFF;
    transition: all 0.2s ease-out;
}

.content.is-show{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0;
}

.product-all {
    width: 100%;
}

.product-all img {
    border: 3px solid #ccc;
    width: 100%;
}

@media screen and (max-width:415px) {
    .tab-group {
        max-width: 300px;
    }

    .tab p {
        font-size: .8rem;
    }
}

@media screen and (max-width:375px) {
    .product-title h1 {
        font-size: 2rem;
    }

    .tab-group {
        max-width: 300px;
    }

    .tab p {
        font-size: .7rem;
        white-space: nowrap;
    }
}

@media screen and (max-width:320px) {
    .tab-group {
        max-width: 250px;
    }

    .tab p {
        font-size: .5rem;
    }
}