@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    color: #dedede;
    line-height: 1.6;
    font-size: 62.5%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #fff;
    height: 100%;
    width: 20%;
    border-right: .2rem solid #eee;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: fixed; */
}

header .logo {
    margin: 1rem auto;
    height: 180px;
    width: 180px;
}

header .nav {
    font-size: 1.7rem;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 1rem;
}

header .nav .nav-page {
    text-decoration: none;
    color: #ff4e4e;
}

header .nav a {
    text-decoration: none;
    color: #333;
}

header .nav li {
    display: flex;
    border-bottom: solid #eee;
}

header .nav li i {
    margin: 0 1rem;
}

header .copyrights {
    margin: 1rem auto;
}

main {
    background-color: #212121;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
}

.hamburger__line {
    position: absolute;
    left: 11px;
    width: 18px;
    height: 1px;
    background-color: #dedede;
    transition: all .6s;
    display: none;
}

.hamburger__line--1 {
    top: 14px;
}
.hamburger__line--2 {
    top: 20px;
}
.hamburger__line--3 {
    top: 26px;
}

.black-bg {
    display: none;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
}

.nav-open .global-nav {
    right: 0;
}
.nav-open .black-bg {
    opacity: .8;
    visibility: visible;
}
.nav-open .hamburger__line--1 {
    transform: rotate(45deg);
    top: 20px;
}
.nav-open .hamburger__line--2 {
    width: 0;
    left: 50%;
}
.nav-open .hamburger__line--3 {
    transform: rotate(-45deg);
    top: 20px;
}

main .profile {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .profile-icon {
    border-radius: 50%;
    border: .5rem solid #fff;
    height: 12rem;
    width: 13rem;
}

.profile h1 {
    font-size: 2rem;
    margin-top: 2rem;
}

.profile .subtitle {
    font-size: 1.5rem;
    color: #999;
}

.profile .sns-link {
    margin-top: 2rem;
}

.sns-link a{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: #ff4e4e;
    display: inline-block;
    text-align: center;
    margin: 0 .5rem;
    color: #fff;
    font-size: 2rem;
    line-height: 3.5rem;
}

.fab, .far {
    margin-top: .7rem;
}

@media screen and (max-width:1240px) {
    main {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    header {
        display: none;
    }

    .hamburger__line {
        display: flex;
    }

    .mobile-nav__content {
        background-color: white;
        height: 100%;
        width: 65%;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 2.5rem;
        height: 65%;
        justify-content: space-evenly;
        list-style: none;
        margin: 0 1rem;
        height: 100%;
    }

    .mobile-nav a {
        text-decoration: none;
        color: #333;
    }

    .black-bg {
        display: flex;
    }
}